fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
cyndilib==0.1.1
opencv-python==4.10.0.84
numpy==2.1.2
ffmpeg-python==0.2.0
mss==9.0.2
obsws-python==1.7.0
python-osc==1.9.0
python-multipart==0.0.12
sounddevice==0.5.1
pymodbus==3.12.1
catt==0.13.1
